<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Grub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Global Grub</h1>
            <section>
                <nav class="navbar">
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('recipes') }}">Recipes</a>
                    <a href="{{ url_for('about') }}">About</a>
                    <a href="{{ url_for('favourites') }}">Favourites</a>
                    <a href="{{ url_for('signup') }}">Sign Up</a>
                    <a href="{{ url_for('login') }}">Login</a>
                </nav>
            </section>
    </header>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>