{% extends "base.html" %}

{% block content %}
    <main>
        <h1>Welcome to Global Grub</h1>
        <div class="hero-container">
            <div class="hero">
                <p class="hero-text">Find Your Favourite Food From Across the Globe</p>
            </div>
        </div>
        <p class="marquee-label">Discover Delicious Recipes</p>
        <div class="marquee-container">
            <div class="dynamic-marquee">
                <img src="{{ url_for('static', filename='images/food1.png') }}" alt="Dish 1">
                <img src="{{ url_for('static', filename='images/food2.png') }}" alt="Dish 2">
                <img src="{{ url_for('static', filename='images/food3.png') }}" alt="Dish 3">
                <img src="{{ url_for('static', filename='images/food4.png') }}" alt="Dish 4">
                <img src="{{ url_for('static', filename='images/food1.png') }}" alt="Dish 1">
                <img src="{{ url_for('static', filename='images/food2.png') }}" alt="Dish 2">
                <img src="{{ url_for('static', filename='images/food3.png') }}" alt="Dish 3">
                <img src="{{ url_for('static', filename='images/food4.png') }}" alt="Dish 4">
                <img src="{{ url_for('static', filename='images/food1.png') }}" alt="Dish 1">
                <img src="{{ url_for('static', filename='images/food2.png') }}" alt="Dish 2">
                <img src="{{ url_for('static', filename='images/food3.png') }}" alt="Dish 3">
                <img src="{{ url_for('static', filename='images/food4.png') }}" alt="Dish 4">
                <img src="{{ url_for('static', filename='images/food1.png') }}" alt="Dish 1">
                <img src="{{ url_for('static', filename='images/food2.png') }}" alt="Dish 2">
                <img src="{{ url_for('static', filename='images/food3.png') }}" alt="Dish 3">
                <img src="{{ url_for('static', filename='images/food4.png') }}" alt="Dish 4">
            </div>
        </div>
    </main>
{% endblock %}
