{% extends "base.html" %}

{% block content %}
<main>
    <h1>Search for your favourite Recipes</h1>

    <!-- Search form -->
    <form id="searchForm">
        <input type="text" id="mealSearch" placeholder="Search for recipes..." autocomplete="off">
        <button type="button" id="clear-button">Clear Results</button>
        <button type="submit" id="submit-button">Search</button>
    </form>

    <!-- Search results -->
    <div id="results" class="search-results"></div>
</main>


<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
