{% extends "base.html" %}

{% block content %}

<h1>{{ meal.strMeal }}</h1>


<a class="page-action-button" href="{{ url_for('recipes') }}">↩ Back to Recipes</a>

{% if current_user.is_authenticated %}

<form method="POST"
      action="{%if saved %}
                {{ url_for('remove_favourite', recipe_id=meal.idMeal) }}
            {% else %}
                {{ url_for('add_favourite', recipe_id=meal.idMeal) }}
            {% endif %}">

    <button type="submit" class="fav-btn" aria-label="{% if saved %}Remove from favourites{% else %}Add to favourites{% endif %}" aria-pressed="{{ 'true' if saved else 'false' }}">

        {% if saved %}
            ★
        {% else %}
            ☆
        {% endif %}

    </button>

</form>

{% endif %}


<img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}" class="meal-image">

<div class="meal-details">
<p><strong>Region:</strong> {{ meal.strArea }}</p>
<p><strong>Category:</strong> {{ meal.strCategory }}</p>
</div>

{% if meal.strYoutube %}
    <h2>Video Tutorial</h2>
    <div class="video-container">
    <iframe
        src="https://www.youtube.com/embed/{{ meal.strYoutube.split('v=')[1] }}" 
        frameborder="0" 
        title="Video tutorial for {{ meal.strMeal }}"
        allowfullscreen>
    </iframe>
    </div>

{% else %}
    <h2>Video Tutorial</h2>
    <p>No video tutorial available for this recipe.</p>
{% endif %}

<h2>Instructions</h2>
<div class="meal-instructions">
<p>{{ meal.strInstructions }}</p>
</div>


<h2>Ingredients</h2>
<div class="meal-ingredients">
<table>
    <tr>
        <th>Ingredient</th>
        <th>Measure</th>
    </tr>
    {% for i in range(1, 21) %}
        {% if meal['strIngredient' + i|string] %}
            <tr>
                <td>{{ meal['strIngredient' + i|string] }}</td>
                <td>{{ meal['strMeasure' + i|string] }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
</div>

{% endblock %}
