{% extends "base.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}" class="login-form">

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Username" aria-label="Enter your username">
        </div>
        <div>
            <label for="password">Password:</label>
            <div class="password-field">
                <input type="password" id="password" name="password" required placeholder="Password" aria-label="Enter your password">
                <button type="button" class="eye-icon closed" id="togglePassword" aria-label="Show password" aria-controls="password" aria-pressed="false"></button>
            </div>
        </div>
        <button type="submit" class="auth-action-button" aria-label="Submit login form">Login</button>
    </form>
    <a href="{{ url_for('signup') }}" class="form-switch" aria-label="Switch to sign up form">
        <span class="switch-question">Don't have an account?</span>
        <span class="switch-action">Sign up here.</span>
    </a>
{% endblock %}