{% extends "base.html" %}

{% block content %}
    <h2>Sign Up</h2>
    <form method="POST" action="{{ url_for('signup') }}" class="login-form">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Username">
        </div>
        <div>
            <label for="password">Password:</label>
            <div class="password-field">
                <input type="password" id="password" name="password" required placeholder="Password">
                <button type="button" class="eye-icon closed" id="togglePassword" aria-label="Toggle password visibility"></button>
            </div>
        </div>
        <button type="submit" class="auth-action-button">Sign Up</button>
    </form>
    <a href="{{ url_for('login') }}" class="form-switch">
        <span class="switch-question">Already have an account?</span>
        <span class="switch-action">Log in here.</span>
    </a>
{% endblock %}